* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    min-height: 100vh;
    background-image: url(../img/inicio.jpg);
    background-size: cover;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    transition: all 0.35s ease-in-out;
    border-radius: 0.0em 0.0em 0.8em 0.8em;
    overflow: hidden;
    box-sizing: border-box;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin: 2px;
}

.nav-link {
    border-radius: 30px;
    /* MODIFICA AQUÍ PARA QUE TODOS ENTREN EN LA MISMA LÍNEA */
    padding: 2.5px;
    transition: all 0.35s ease-in-out;
}

.nav-link:hover {
    border: 1px solid #2d428852;
    background-color: #2d428837;
}

a:active,
a:hover {
    outline: 0;
    transition: none !important;
}